<!-- var MessageList = require('.././components/message_list'); -->
<!-- var HpBar = require('.././components/hp_bar'); -->
<!-- var LevelBar = require('.././components/level_bar'); -->


<div className="row">
	
	<div className="col-md-6">
		<MessageList model={this.props.messageModel}></MessageList>

	</div>
	<div className="col-md-6">
		<LevelBar></LevelBar>
		<HpBar model={this.props.gameModel}></HpBar>
		<button id="btnFight" onClick={this.btnFightClick} className="btn btn-primary btn-lg">
			移動
		</button>

	</div>

</div>
